{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- shopping cart content -->
{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">shopping cart</h2>
            <hr>
        </div>
    </div>
<!-- cart_items content -->
    <div class="row">
        <div class="col">
            <!-- displays table if there are items in cart -->
            {% if cart_items %}
                <div class="table-responsive rounded"></div>
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">name</th>
                            <th scope="col">price</th>
                            <th scope="col"></th>
                            <th scope="col">subtotal</th>
                        </tr>
                    </thead>
                    <!-- for loop for each item in cart -->
                    {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                    {% if item.work.image %}
                                    <img class="img-fluid rounded" src="{{ item.work.image.url }}" alt="{{ item.work.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.work.name }}">
                                    {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.work.name }}</strong></p>
                               
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.work.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                
                                <a class="remove-item text-danger float-right" id="remove_{{ item.work_id }}"><small>remove</small></a>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.work.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- order summary -->
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>cart total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>delivery: ${{ delivery_cost|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>grand total: ${{ grand_total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'works' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text">keep shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-gray rounded-0 btn-lg">
                                <span class="text">secure checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- displays if cart is empty -->
            {% else %}
                <p class="lead mb-5">...is empty.</p>
                <a href="{% url 'works' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>all works</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

    // remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var workId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${workId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, };

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}