{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class = "background">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-10 col-md-7 my-auto">
                <h1 class="display-4 logo-font text-white">
                    CUT & PASTE new works in paper
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'works' %}" class="explore-works-button btn btn-lg py-3">explore works </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}