{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay">
                <h2 class="subtitle">Reviews</h2>
                <div class="reviews-wrapper">
                    {% for review in works.reviews.all %}
                        <div class="notification">
                            <p>
                                <strong>date: </strong>{{ review.date_added|date:"Y-m-d" }},
                                <strong>rating: </strong>{{ review.stars }}
                            </p>

                            {{ review.review_content }}
                        </div>
                    {% empty %}
                        <div class="notification">
                            no reviews yet...
                        </div>
                    {% endfor %}

            </div>

        </div>
{% endblock %}
